.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.MuiAppBar-colorPrimary {
    background-image: linear-gradient(to right, #00000c, #010011);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 60s linear;
    }
}

.App-header {
    background-color: #212e49;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("assets/images/grupo-driver-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.App-header-not-found {
    background-color: #212e49;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("assets/images/not-found.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    /* from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    } */
    0% {
        transform: rotateY(0deg);
    }
    5% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/*Estilos del menú*/

.MuiList-root.MuiList-padding a {
    text-decoration: none !important;
    color: #716e6e;
}